/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }





 /* -----------------------BODY------------------------------- */ 

header, .nav, .containerAll, main, footer {font-family: "lato"; margin: 0 auto; max-width: 566px;}

.nav {
    background-color: $primaryColor; 
   

.navText {
    color: $fontColor; 
    font-size: 24px; 
}

}


main {



   
    .m-c-header {
        margin: 20px; 
        margin-top: 50px;
        font-size: 32px;  
    
    }
    

    .containerAll {
        display: flex; 
        flex-wrap: wrap; 
    
        .meal-category-card {
            margin: 20px; 
             border: 1px solid grey;
             width: 29%;  
    
             figure {
                 width: 100%; 
    
            img {
                    width: 80%; 
                    display: block; 
                    margin: auto; 
                    margin-top: 10px; 
                 }
             }
            
         
             .cardInfo {
                 text-align: center; 
                 margin: 20px; 
             }
    
             .cardTitle {
                 font-size: 24px; 
             }
    
             .cardText {
                 padding: 5px; 
             }
         
         }
    
    
    
    }
    
    















/* ------------------------Column----------------------------- */





.row { 
    max-width: 650px; 
  
  }
  
  .column{
    -webkit-column-gap: normal; /* Chrome, Safari, Opera */
    -moz-column-gap: normal; /* Firefox */
    
   
  }
  
  @for $i from 1 through 12 {
      $w: ($i / 12) * 100%;
   .sm-#{$i} {width: $w; float: left;}
      
   }










}




/* ------------------------Column----------------------------- */



.footer-container {
    text-align: center; 
    border-top: 1px solid $primaryColor; 
    padding: 20px; 
}


